<% layout("/layouts/boilerplate") -%>

    <body>
       
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3 class="text-center">Edit @ <%= listing._id %>
                </h3>
                <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation"
                    novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input class="form-control" type="text" name="listing[title]" id="" value="<%= listing.title %>"
                            required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter title.</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" name="listing[description]" id="" cols="10" rows="1"
                            required> <%= listing.description %> </textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter description.</div>
                    </div>

                    
                    <div class="mb-3">
                        <img src="<%=originalImageUrl%>" alt="listing_image">
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image:</label>
                        <input class="form-control" type="file" name="listing[image]" id="">
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="price" class="form-label">Price:</label>
                                <input class="form-control" type="number" name="listing[price]" id=""
                                    value="<%= listing.price %>" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter valid price.</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="country" class="form-label">Country:</label>
                                <input class="form-control" type="text" name="listing[country]" id=""
                                    value="<%=listing.country %>" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter country name.</div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input class="form-control" type="text" name="listing[location]" id=""
                            value="<%= listing.location %>" required>
                        <div class="invalid-feedback">Please enter location.</div>
                    </div>
                    
                    <button class="btn btn-dark edit-btn mb-3">Edit</button>
                </form>
            </div>
        </div>
    </body>